9193fe78121ef90ceeb8fcd2be2e40514955bf3463ce74e553c5d4fce7ae02canode_modules
.env

# Hardhat files
/cache
/artifacts

# TypeChain files
/typechain
/typechain-types

# solidity-coverage files
/coverage
/coverage.json

# Hardhat Ignition default folder for deployments against a local node
ignition/deployments/chain-31337
